<h1>{{ 'TASK_LIST' | translate }}</h1>
<h2>{{ 'CURRENT_TASKS' | translate }}</h2>
@if (loading()){
  <p>{{ 'LOADING_TASKS' | translate }}</p>

} @else if (error()) {
  <p>{{ 'ERROR_LOADING_TASKS' | translate }}</p>

} @else {
  @for (task of tasks(); track task.id) {
    <div class="task-item"> 
      <h3><a [routerLink]="['/tasks', task.id]">{{ task.title }}</a></h3>
      <p><b>{{ 'DESCRIPTION' | translate }}</b> {{ task.description }}</p>
      <p>{{ 'STATUS' | translate }} {{ task.status }} | {{ 'TYPE' | translate }} {{ task.type }} | {{ 'CREATED_ON' | translate }} {{ task.createdOn | date:'d.MM.yyyy' }}</p>
      <p><b>{{ 'ASSIGNED_TO' | translate }}</b> {{ task.assignedTo }}</p>

      @if (isAdmin()){
        <button (click)="deleteTask(task.id)" [disabled]="deleting()">{{ 'DELETE' | translate }}</button>
      }
    </div>

  } @empty {
    <p>{{ 'NO_TASKS_ADDED' | translate }}</p>
  }
}
