form{
    max-width: 600px;
}
.form-row {
  display: flex;    
  flex-wrap: wrap;      
  align-items: center;    
  margin-bottom: 12px;    
}

.form-row label {
  width: 120px;           
  flex-shrink: 0;         
  margin-right: 16px;    
  font-weight: bold;      
  text-align: right;     
}

.form-row input,
.form-row textarea,
.form-row select {
  flex-grow: 1;          
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.task-list-btn{
    margin: auto;    
    cursor: pointer;          
}

.error-container {
  width: calc(100% - 120px - 16px);
  margin-left: auto;
  padding-top: 4px;
}

.error-message {
  color: #D32F2F;
  font-size: 12px;
  font-weight: bold;
}