<header>
  <div class="logo">
    <a routerLink="/tasks">Task Application</a>
  </div>
  <nav class="main-nav">
    <a routerLink="/tasks" routerLinkActive="active-link">Task List</a>
    @if (authService.currentUser()?.roles?.includes(UserRole.ADMIN)) {
      <a routerLink="/create" routerLinkActive="active-link">Create Task</a>
      <a routerLink="/users" routerLinkActive="active-link">User List</a>
    }
    @if (authService.isLoggedIn()) {
      <span>
        Welcome, <b>{{ authService.currentUser()?.firstName }} {{ authService.currentUser()?.lastName }}</b>
      </span>
      <a (click)="authService.logout()">Logout</a>
    }@else {
      <a routerLink="/login" routerLinkActive="active-link">Login</a>
      <a routerLink="/register" routerLinkActive="active-link">Register</a>
    }
  </nav>
</header>

<main class="main">
  <router-outlet />
</main>