<h1>Create Task</h1>
@if (taskCreated){
  <div class="success-message">Task successfully created!</div>
}
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
   <div class="form-row">
    <label for="title">Task Title</label>
    <input id="title" type="text" formControlName="title">

    <div class="error-container">
      @if (title?.invalid && title?.touched){
        @if (title?.hasError('required')) {
          <div class="error-msg">
            Title is required.
          </div>
        }
        @if(title?.hasError('minlength')) {
          <div class="error-msg">
            Title must be at least 3 characters long.
          </div>
        }
      }
    </div>
  </div>

  <div class="form-row">
    <label for="description">Description</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <div class="form-row">
        <label for="type">Type</label>
        <select name="type" id="type" formControlName="type">
            <option value="">Select Task Type</option>

            @for (type of types; track type) {
                <option [value]="type">{{ type }}</option>
            }
        </select>
        <div class="error-container">
            @if (type?.invalid && type?.touched){
                <div class="error-msg">
                    Type is required
                </div>
            }
        </div>
    </div>

  <div class="form-row">
    <label for="status">Status</label>
    <select id="status" formControlName="status">
        <option value="">Select a Status</option>
        @for (status of statuses; track status) {
            <option [value]="status">{{ status }}</option>
        }
    </select>
    <div class="error-container">
            @if (status?.invalid && status?.touched){
                <div class="error-msg">
                    Status is required
                </div>
            }
        </div> 
  </div>

  <button class="create-task-btn" type="submit">Create Task</button>
</form>