<h1>{{ 'LOGIN_PAGE' | translate }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-row">
        <label for="username">{{ 'USERNAME' | translate }}</label>
        <input id="username" type="text" formControlName="username" [placeholder]="'ENTER_USERNAME' | translate" autocomplete="username">
        <div class="error-container">
           @if (username?.invalid && username?.touched) {
                <div class="error-msg">{{ 'USERNAME_REQUIRED' | translate }}</div>
            }
        </div>
    </div>

    <div class="form-row">
        <label for="password">{{ 'PASSWORD' | translate }}</label>
        <input id="password" type="password" formControlName="password" [placeholder]="'ENTER_PASSWORD' | translate">
        <div class="error-container">
            @if (password?.invalid && password?.touched) {
                <div class="error-msg">{{ 'PASSWORD_REQUIRED' | translate }}</div>
            }
        </div>
    </div>
    @if (loginError()) {
        <div class="error-container">
            <div class="error-msg">{{ loginError() | translate }}</div>
        </div>
    }
    <button type="submit">{{ 'LOGIN' | translate }}</button>
</form>