/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
}
* {
    outline: none;
}
.task-item {
  border: 1px solid #e0e0e0; 
  padding: 16px;             
  margin-bottom: 16px;       
  border-radius: 8px;       
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}
